.row {
  width: 80%;
  background-color: #fff;
  margin: auto;
  padding: 15px;
  border-left: 1px solid #f0f0f0;
  border-right: 1px solid #f0f0f0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: stretch;
  flex-wrap: wrap;
  font-size: 14px;
  padding-left: 20px;
  cursor: pointer;
  border-color: #f0f0f0;
  transition: 0.5s;
}
.row:hover {
  background-color: #f3f3f3;
}
.active {
  width: 82%;
  height: 220px;
  border-radius: 10px;
  border: 1px solid #dfdfdf;
}
.active:hover {
  background-color: #fff;
}
.active p {
  margin: 0;
  margin-bottom: 10px;
}
/*
.block {
  display: block;
  height: 20px;
  width: 40%;
  background-color: #f8f8f8;
  border-radius: 5px;
}
*/