.detailsComponentParagraph {
  display: flex;
  flex-direction: column;
  width: 33%;
}
#detailsComponent {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: stretch;
  flex-wrap: wrap;
  align-content: flex-start;
  width: 100%;
  padding: 10px;
}
