
@import url("https://fonts.googleapis.com/css?family=Inter");
* {
  box-sizing: border-box;
}
html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 5px;
}
body {
  background: #fff;
  font-family: "Inter";
}

:root {
  --main-color: #ecf0f1;
  --point-color: #555;
  --size: 5px;
}

